<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>about page</h1>

    <h2> skill : <%- skill[0] %></h2>

    <h1>Onboard : <%-onBoard %></h1>


    <% let age=20 %>
    <% if(age>18){ %>

    <h1>you are eligible</h1>

    <% } else {%>

    <h1>not eligible</h1>
        <% }%>


      <% let n=0%>
      <% for(let i=2;i<=100;i+=2){ %>  
        <% =i%>
        <%}%>
</body>
</html>