<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Dashboard page</h1>
    <h2>Your name is : <mark><%-data.username %></mark></h2>
    <h2>Your email is : <mark><%-data.useremail %></mark></h2>
    <h2>Your address is : <mark><%-data.address %></mark></h2>


</body>

</html>